<tr>
  <td><%= users.username %></td>
  <td><%= users.ban %></td>
  <td padding: 30px><a class='bttn' href="/users/<%= users.username %>/ban">ban</a> / <a class='bttn' href="/users/<%= users.username %>/unban">unban</a></td>
  <td><a class='bttn' href="/users/<%= users.id %>/delete">x</a></td>
</tr>
