<%- include('../layout/header', {title: "User Profile", user: user}) %>
<% title = "User Profile" %>
<h1><%= name %></h1>
<div>Phone number: <%= profile.phone %></div>
<div>Email: <%= profile.email %></div>
<div>Birthday: <%= profile.birthday %></div>
<div>Bio: <%= profile.bio %></div>
<p>
<div>
  <% if(name == user.username){ %>
      <%- include('_profile', {name: name}); %>
  <%  } %>
</div>
<p>
<div id="return">
  <a class="btn btn-large btn-info" href="/hobby">Return to hobbies</a>
</div>
