<<<<<<< HEAD
<%- include('../layout/header2', {title: "User Profile", user: user}) %>
=======
<%- include('../layout/header', {title: "User Profile", user: user}) %>
>>>>>>> 1a2bb2e3ce95639d22c75148abceb68a10f27e1f
<% title = "User Profile" %>
<h1><%= name %></h1>
<div>Phone number: <%= profile.phone %></div>
<div>Email: <%= profile.email %></div>
<div>
  <% if(name == user.username){ %>
      <%- include('_profile', {name: name}); %>
  <%  } %>
</div>
<div id="return">
  <a class="btn btn-large btn-info" href="/hobby">Return to hobbies</a>
</div>
